<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	id="WebApp_ID" version="6.0">
	<display-name>log-reg</display-name>

	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>com.company.servlet.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	
	
	<!-- mapping for logoutservlet -->
	<servlet>
		<servlet-name>logout</servlet-name>
		<servlet-class>com.company.servlet.LogoutServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>register</servlet-name>
		<servlet-class>com.company.servlet.RegisterServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
</web-app>